*{
    margin: 0;
    padding: 0;
    list-style: none; 
    text-decoration: none;
  }
  
    /* Stickey top bar 
    -----------------------------------------------------*/
  
  .header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
  }
  .inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
   
  }
  .logo_container{
    height: 100%;
    display: table;
    float: left;
  }
  .logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
  }
  .logo_container h1 span{
    font-weight:  800;
  }
  
  .navigation_header{
    float: right;
    height: 100%;
    margin-bottom: 0px;
  }
  
  .navigation_header a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    
  }
  
  .navigation_header a:last-child{
    padding-right: 0;
  }
  
  .navigation_header a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
  }
  

/*---Navigation menu
--------------------------------------*/

nav{
    width: 100%;
    height: 60px;
    background-color: white;
  }
  
  
  nav ul li{
    float: left;
    list-style: none;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    font-family: 'Montserrat';
    color: 222;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
  }
  
  nav ul li ul{
    display: none;
    position: absolute;
    background-color: fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
  }
  
  nav ul li:hover ul{
    display: block;
  }
  
  nav ul li ul li{
    width: 180px;
    border-radius: 4px;
  }
  nav ul li ul li a{
    padding-bottom: 8px 14px;
  }
  
  nav ul li ul li a:hover{
    padding-bottom: 8px 14px;
    background-color: f3f3f3;
  }


 /* Sticky footer styles
-------------------------------------------------- */
img{
  width: 150px;
  height: auto;
}
.page-footer{
  background-color: #101010;
  color: white;
}

.page-footer a{
  color: white;
    text-decoration: underline;
}

  /* Listing cards */
  .card{
      text-align: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      height: 400px;
      box-sizing: border-box;
      
  }
 .card h3{
     font-size: medium;
 }
 
 .card p{
    font-weight: bold;
}
.card img{
    height: 90%;
    width: 80%;
}

/* inline block */

.ib {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.ib-m {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* vertical-align: middle;*/
    font-weight: lighter;   
} 

/* Filter  */

.sidebar-heading {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #eee;
    font-size: 1.6em;
}

/* ul-reset */

.ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.filter-item {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.filter-item-inner {
    border-bottom: 1px solid #eee;
}

.filter-item-inner-heading {
    position: relative;
    padding: 10px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.filter-item-inner-heading.minus:after,
.filter-item-inner-heading.plus:after {
    position: absolute;
    top: 33%;
    right: 7.5%;
    font-size: .6em;
}

.filter-item-inner-heading.minus:after {
    content: "▲";
}

.filter-item-inner-heading.plus:after {
    content: "▼";
}

.filter-attribute-list {
    overflow: hidden;
}

.filter-attribute-list-inner {
    padding: 0 10px 15px;
}

.filter-attribute-item {
    padding-left: 10px;
    margin-top: 5px;
}

.filter-attribute-item:first-child {
    margin-top: 0;
}
