*{
    margin: 0;
    padding: 0;
    list-style: none; 
    text-decoration: none;
  }
  
    /* Stickey top bar 
    -----------------------------------------------------*/
  
    .header{
      width: 100%;
      height: 80px;
      display: block;
      background-color: #101010;
    }
    .inner_header {
      
      height: 100%;
      display: block;
      margin: 0 189.60px;
    }

    .logo_container{
      height: 100%;
      display: table;
      float: left;
    }
    .logo_container h1{
      color: white;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      font-family: 'Montserrat';
      font-size: 32px;
      font-weight: 200;
    }
    .logo_container h1 span{
      font-weight:  800;
    }
    
    .navigation_header{
      float: right;
      height: 100%;
      margin-bottom: 0px;
    }
    
    .navigation_header a{
      height: 100%;
      display: table;
      float: left;
      padding: 0px 20px;
      
    }
    
    .navigation_header a:last-child{
      padding-right: 0;
    }
    
    .navigation_header a li{
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      color: white;
      font-family: 'Montserrat';
      font-size: 16px;
    }
    
 


/*---Navigation panel
--------------------------------------*/

nav {
  margin-top: 60px; 
}

.navbar-nav {
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0px;
 float: inherit;
}
.navbar-nav li a{
  color: black;
}


 /* Sticky footer styles
-------------------------------------------------- */
img{
  width: 150px;
  height: auto;
}
.page-footer{
  background-color: #101010;
  color: white;
}

.page-footer a{
  color: white;
    text-decoration: underline;
}

/* inline block */

.ib {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.ib-m {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* vertical-align: middle;*/
    font-weight: lighter;   
} 

/* Filter  */

.sidebar-heading {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #eee;
    font-size: 1.6em;
}

/* ul-reset */

.ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.filter-item {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.filter-item-inner {
    border-bottom: 1px solid #eee;
}

.filter-item-inner-heading {
    position: relative;
    padding: 10px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.filter-item-inner-heading.minus:after,
.filter-item-inner-heading.plus:after {
    position: absolute;
    top: 33%;
    right: 7.5%;
    font-size: .6em;
}

.filter-item-inner-heading.minus:after {
    content: "▲";
}

.filter-item-inner-heading.plus:after {
    content: "▼";
}

.filter-attribute-list {
    overflow: hidden;
}

.filter-attribute-list-inner {
    padding: 0 10px 15px;
}

.filter-attribute-item {
    padding-left: 10px;
    margin-top: 5px;
}

.filter-attribute-item:first-child {
    margin-top: 0;
}


  /* Listing cards */
  body{
    color: #434444;
  }
  .cardsContainer{
    
    padding: 0px;
  }
  hr{
    width: 300px;
    border: 3px solid #434444;
  }
  .card-body{
    padding: 0px ;
  }
  
  /* Product Grid */

  .product-grid{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .product-grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .image{
    position: relative;
  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(67, 68, 68, 0.7);
  }
  .image:hover .overlay{
    opacity: 1;
  }
  .detail{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .buy{
    /* background-color: transparent; */
    color: #434444;
    border-radius: 0;
    border: 1px solid grey !important; 
    width: 100%;
    margin-top: 20px;
  }
  .buy:hover{
    background-color: teal;
    color: black;
  }
  
  .image img{
    display: block;
    margin: 0 auto;
  }
  .image a{
    display: block;
  }